<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link rel="bookmark" href="~/favicon.ico" />
    <link rel="icon" href="~/favicon.ico" />
    <title>@ViewBag.Title-網頁</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("CSS", required: false)
    @RenderSection("Scripts", required: false)
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/MegaNavbar/assets/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/MegaNavbar/assets/css/animation/animation.css" rel="stylesheet" />
    <link href="~/Content/MegaNavbar/assets/css/MegaNavbar.min.css" rel="stylesheet" />
    <link href="~/Content/MegaNavbar/assets/css/LITE.MegaNavbar.css" rel="stylesheet" />
    @Styles.Render(StylesBundleKey.MegaNavbarSkin)
    <script>
        $(function () {
            $('.navbar ul li ul li a.dropdown-toggle').click(function () {
                $(this).parent().toggleClass('open');
            });
        });
    </script>


</head>
<body>
    @Html.Partial("_Top")
    <div class="container body-content">
        @RenderBody()
    </div>
    @Html.Partial("_Footer")
</body>
</html>
